[submodule "submodules/compact.vim"]
	path = submodules/compact.vim
	url = https://github.com/1NickPappas/compact.vim
[submodule "submodules/compact-tree-sitter"]
	path = submodules/compact-tree-sitter
	url = https://github.com/midnightntwrk/compact-tree-sitter
