.vscode/**
.vscode-test/**
src/**
.gitignore
.gitmodules
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
submodules/**
scripts/**
.github/**
dist/**
node_modules/**
out/test/**
*.vsix
biome.json
bun.lock
mise.toml
bin/**
out/*.compact

